.sdetail{
    padding-top: 68px;
    padding-bottom: 48px;
    margin-bottom: 20px;
}
.sdetail-title-head{
    text-align: center;
    margin-bottom: 2%;
    margin: 0px auto;
     margin-bottom: 20px; 
}
.sdetail-title{
    text-align: center;
    margin-bottom: 2%;
    margin: 0px auto;
    margin-bottom: 20px; 
}
.detail-para{
    padding: 0 100px;
}
.cnfm-form{
    padding: 0 100px;
}
.sdetail-btn{
  font-size: 16px;
  text-decoration: none;
  background: linear-gradient(120deg, #47bcc6 0%, #41aee6 100%);
  display: inline-block;
  padding: 12px 30px;
  border: none;
  border-radius: 40px;
  color: #fff; 
}
.sdetail-btn:hover{
  color: #fff;
  text-decoration: none;
}